# 👋 “Hey” from the Praxis team
# use this config file to control how npm behaves: https://docs.npmjs.com/misc/config

# set registry to Target's private npm repository: Artifactory
registry="https://binrepo.target.com/artifactory/api/npm/npms"

# always save the exact version of a new dependency
# read more at https://praxis.prod.target.com/guides/dependency-management
save-exact=true

# set audit to false to prevent this potentially harmful advice from showing up
# npm audit fix is causing unintended consequences in the dependency tree
audit=false

# set to false to suppress the update notification when using an older version of
# npm than the latest. npm comes bundled with Node.js; Praxis recommends always
# using the version of npm that comes with your Node.js distribution.
update-notifier=false
